<div class="exercise_search">
    <div class="select_condition">
        <ul class="knowledge_sort">
            <li ui-sref-active="active"><a ui-sref="content.ken.topic">按知识点</a></li>
            <li ui-sref-active="active"><a ui-sref="content.ken.chapter">按章节</a></li>
        </ul>
    </div>
    <div add-knowledge id="eKen" style="display:none;"
                   knowledge="ken.Name"
                   chapter="ken.chapter"
                   chapters="chapters"
                   require-ment="requireMent"
                   require-ments="requireMents"
                   on-save-new="kenSave(ken, true)"
                   on-save="kenSave(ken, false)"
                   on-cancel="kenCancel()" /> 
    <div class="exercise_btn">
        <a class="topic_import" dialog-show dialog-id="eKen"><em><i class="icon"></i></em><span>添加知识点</span></a>
    </div>
</div>
<p class="guide_word" ng-show="isKen">点击左侧[知识点]，查看该知识点关联章节、资料、习题</p>
<p class="guide_word" ng-show="!isKen">点击左侧[章节]，查看该章节右侧关联知识点</p> 
<div class="knowledge_box">

    <div ui-view></div>
    
    <div class="chapter_box">
        <div class="filter_knowledge" ng-show="kenDisable">
            <a ng-class="{'active':kenSelection.KenID==item.KenID}" ng-repeat="item in kens" ng-click="kenSelected(item)" ng-bind="item.Name"></a>
        </div>
        <ul class="chapter_list">
            <li ng-class="{'active':tab == 1}"><a ng-click="tabChange(1)">关联资料</a></li>
            <li ng-class="{'active':tab == 2}"><a ng-click="tabChange(2)">关联习题</a></li>
        </ul>
        <div ng-class="{'connect_item':tab!=1}">
            <table class="data_list">
                <tr>
                    <th width="460">文件名称</th>
                    <th>创建人</th>
                </tr>
                <tr ng-repeat="item in linkFiles">
                    <td>
                        <p class="file_data">
                            <i class="icon_24" file-ext ext="{{item.Ext}}"></i>
                            <span ng-bind="item.FileTitle"></span>
                        </p>
                    </td>
                    <td ng-bind="item.CreateUserName"></td>
                </tr>
            </table>
        </div>

        <div ng-class="{'connect_item':tab!=2}">
            <ul class="topic_list">
                <div exercise-list ng-repeat="item in linkExercises" exercise="item" checks="checks" share-ranges="shareRanges" disable-difficult="true" ocid="OCID" creater="item.CreateUserID" />
            </ul>
        </div> 
    </div>

</div> 

<div ies-dialog id="eConfirm" style="display:none"
            dialog-title="确认"
            dialog-text="您确认删除该习题吗？"
            ok-title="确定"
            cancel-title="取消"></div> 