<div>
    <div class="pop_bg"></div>
    <div class="pop_400">
        <h4>压缩文件首页</h4>
        <span class="icon close_pop"></span>
        <div class="pop_wrap">
            <div class="set_property" style="margin-top:-10px;">
                <div>首页名称</div>
                <div>
                    <input type="text" style="width:100%;height:25px;" ng-model="indexPage"/>
                </div>
            </div>
            <div class="btn_box">
                <a class="save" ng-click="onSave(chapter, ken)">保存</a>
                <a class="cancel">取消</a>
            </div>
        </div>
    </div>
</div>